* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: #101010;
}


/* Calculator */

.calculator {
    width: 370px;

    padding: 30px;

    background: #1c1c1c;

    border-radius: 22px;

    border: 1px solid #333;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.6);

    text-align: center;
}


/* Title */

h1 {
    color: #ff9800;

    font-size: 32px;

    margin-bottom: 8px;
}


/* Subtitle */

.subtitle {
    color: #999;

    font-size: 14px;

    margin-bottom: 25px;
}


/* Inputs */

input {
    width: 100%;

    padding: 15px;

    margin-bottom: 14px;

    border: 1px solid #444;

    border-radius: 10px;

    outline: none;

    background: #292929;

    color: white;

    font-size: 16px;

    transition: 0.3s;
}

input::placeholder {
    color: #777;
}

input:focus {
    border-color: #ff9800;

    box-shadow:
        0 0 8px rgba(255, 152, 0, 0.3);
}


/* Button area */

.buttons {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 10px;

    margin-top: 10px;
}


/* Buttons */

button {
    height: 60px;

    border: none;

    border-radius: 12px;

    background: #292929;

    color: #ffffff;

    font-size: 26px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #ff9800;

    color: #111;

    transform: translateY(-3px);

    box-shadow:
        0 6px 15px rgba(255, 152, 0, 0.25);
}

button:active {
    transform: scale(0.93);
}


/* Result */

#result {
    min-height: 55px;

    margin-top: 25px;

    padding: 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 10px;

    background: #292929;

    border: 1px solid #444;

    color: #ff9800;

    font-size: 18px;

    font-weight: bold;
}